
.AnchorPane {
	-fx-background-color: #0A2933;
}

.table-view .table-row-cell:selected {
	-fx-font-size: 120.0%;
}

.table-view .table-row-cell:hover {
	-fx-background-color: #33CCFF;
}

.AnchorPane .label {
	-fx-font-size: 15.0px;	
	-fx-text-fill: white;
}

.SplitPane .paneTitle {
	-fx-font-size: 22.0px;	
}

.SplitPane {
	-fx-border-color: black;
}

.GridPane .textField {
	-fx-background-color:#007ACC;	
	-fx-border-color: white;
}

.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed{
  -fx-background-color: #1d1d1d;
  -fx-text-fill: white;
}

.button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-padding: 5;
}

.table-view:nth-child(odd){
    -fx-background-color: white;
}


.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: black;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}
